node_modules
TODO.txt
data_inputs.txt
data_targets.txt
repro for tensor6d uint8array bug.txt
example_ts.txt
example_plainNode.txt
*.bak
jsdoc theme color adjustments.txt
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
urgent task for you 12 15.txt
integration-test-file-write.txt
jestbox*
dist/*/*/all.d.ts
dist/*/*/all.js
dist/*/*/all.js.map
dist/*/*/jestbox.d.ts
dist/*/*/jestbox.js
dist/*/*/jestbox.js.map
Results_*.csv
tensor validity tool.txt
new release procedure.txt
good-sample-readme.txt
src/all.ts
jsdoc/favicon.psd
npm version history.txt
n_NODE_MODULES CLEARED FOR SPACE

# These are killing my diffs; releases only.
coverage